.App {
  font-family: sans-serif;
  text-align: center;
}
div {
  text-align: left;
}

section {
  display: flex;
  display: flex;
  justify-content: space-between;
}

image {
  min-height: 10px;
  min-width: 200px;
}
